<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Recommander System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
   <nav>
        <h1>📚 Book Recommender</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/recommend">Recommend</a></li>
            <li><a href="/all_books">All Books</a></li>
            <li><a href="/Docs">Docs</a></li>
        </ul>
    </nav>

    <div class="container">
        <h2 class="heading">🔥 Top 50 Books</h2>

        <div class="book-grid">
            {% for i in range(book_name|length) %}
            <div class="card">
                <img src="{{ image[i] }}" alt="Book Image">
                <h3>{{ book_name[i] }}</h3>
                <p>{{ author[i] }}</p>
                <p>⭐ Votes: {{ votes[i] }}</p>
                <p>📊 Rating: {{ ratings[i] }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>


</html>